/*Tuodaan kaikki tyylit yhteen tiedostoon ettei niitä yksitellen tarvitse linkittää*/
@import "navi.css";
@import "form.css";
@import "error.css";
@import "answerBox.css";
@import "footer.css";
/*Tuodaan fontti googlen sivuilta: Ubuntu*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

/*Navibotti ja Dinosaurus on paketista:
https://www.flaticon.com/packs/retro-wave?k=1620295201087 */

html {
  background-color: #6fd6b1;
  height: 100%;
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-size: 17px;
  font-family: 'Ubuntu', sans-serif;
  color: #f74592;
  background-color: #81f7cc;
  border-left: solid black 1px;
  border-right: solid black 1px;
  max-width: 1080px;
  margin: auto;
  text-align: justify;
  min-height: 100%;
  position: relative;
}

.rainbow {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-top: -250px; /* Half the height */
  margin-left: -250px; /* Half the width */
  z-index: 0;
  opacity: 0.3;
}

/*Flex Containeri missä form ja answerBox elää*/
.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*Kuvien positioiden ja koon määrittelyä. Haluan että puhekupla on navi robotin yläpuolella ja puoliksi "päällä"*/

/*Että header kuva muuttaa kokoa jos ruudun koko pienenee*/
.header {

  max-width:1080px;
  height:auto;
  z-index: 3;
}

/*containeri Navirobotille ja puhekuplalle*/
.images {
  position: relative;
  top: 55px;
  left: 0;
  margin-bottom: 50px;
}

.naviImg {
  position: relative;
  top: 0;
  left: 0;
  /*ettei puhekupla:n läpinäkyvä osa häiritse navi-robotin toimintaa olemalla sen päällä*/
  z-index: 2;
}

.bubble {
  position: absolute;
  top: -60px;
  left: 0px;
  z-index: 1;
}

/*error sivun puhekupla on lyhyempi kuin muut ja menee robotin taakse piiloon ylläolevalla positionnilla*/
.imageError {
  position: absolute;
  top: -60px;
  left: 20px;
  z-index: 1;
}
